<template>
  <div class="container relative h-screen flex flex-col justify-center justify-middle align-center align-middle">
    
    <div @click="haiku" class="mx-auto p-8 justify-center rounded-none md:rounded border-0 md:border-2 border-gray-600 text-gray-600 hover:bg-gray-600 hover:text-white">
      <span class="text-4xl font-semibold">{{name}}</span>
    </div>

    <div class="my-8"></div>

    <div class="mx-auto p-8 rounded border-0 border-gray-600">
      <div class="flex mb-4">
        <div class="text-xl font-semibold mr-4 self-center">delimiter</div>
        <input v-model="delimiter" type="text" class="mt-1 w-2/3 block w-full rounded-md bg-gray-100 hover:bg-gray-200 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" placeholder="">
      </div>
      <div class="flex mb-4">
        <div class="text-xl font-semibold mr-4 self-center">token length</div>
        <input v-model="tokenLength" type="number" class="mt-1 w-2/3 block w-full rounded-md bg-gray-100 hover:bg-gray-200 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" placeholder="">
      </div>
      <div class="flex mb-4">
        <div class="text-xl font-semibold mr-4 self-center">random seed</div>
        <input v-model="seed" type="text" class="mt-1 block w-2/3 w-full rounded-md bg-gray-100 hover:bg-gray-200 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" placeholder="">
      </div>
      <div @click="reset" class="mx-auto w-1/3 rounded border-2 border-gray-600 text-gray-600 font-semibold text-xl text-center p-2 my-4 hover:bg-gray-600 hover:text-white">
        reset
      </div>
    </div>

    <div class="absolute w-screen p-4 bg-gray-100 bottom-0">
      <div class="mx-auto text-center">Made with <a href="https://www.npmjs.com/package/haikunator" class="font-semibold">Haikunator</a>, <a href="https://v3.vuejs.org/" class="font-semibold">Vue</a> 3 and <a href="https://tailwindcss.com/" class="font-semibold">TailwindCSS</a>! Look at this project on <a href="https://gitlab.com/draedr/tactile-urchin" class="font-semibold">Gitlab</a></div>
    </div>

  </div>
</template>

<script>

var Haikunator = require("haikunator");

export default {
  name: 'App',
  data: () => {return {
    name: "tactile-spanned-fish",
    delimiter: "-",
    tokenLength: 4,
    seed: 'excess-video-churn',
    h: new Haikunator()
  }},
  components: {},
  methods: {
    haiku() {
      this.name = this.h.haikunate({
        delimiter: this.delimiter,
        tokenLength: this.tokenLength,
        seed: this.seed
      });
    },
    reset() {
      this.delimiter = "-";
      this.tokenLength = 4;
      this.seed = "excess-video-churn";
      this.haiku();
    }
  },
  mounted() {
    this.haiku();
  }
}
</script>